body{
    background-color: #E5E4E2	;
}

.textbox{
    display: flex;
    flex: 1;
    align-content: center;
    justify-content: center;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
}

.buttons button {
    width: 200px; 
    height: 150px;
    margin: 5px;  
    border-radius: 10px;
    background-color: #848884;
    color: white;  
    font-weight: bold;
    font-size: 30px;
    cursor: pointer; 
}

